* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #222;
}


/* HEADER */

header {
    background: #111;
    color: white;

    padding: 20px 8%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
}

nav a:hover {
    color: #f5b400;
}


/* HERO */

.hero {

    height: 550px;

    background-image:

        linear-gradient(
            rgba(0,0,0,0.45),
            rgba(0,0,0,0.45)
        ),

        url("https://images.unsplash.com/photo-1603252110481-7ba873bf42ab");

    background-size: cover;

    background-position: center;

    display: flex;

    align-items: center;

    justify-content: center;

    text-align: center;

    color: white;
}

.hero-content h1 {

    font-size: 55px;

    margin-bottom: 20px;
}

.hero-content p {

    font-size: 21px;

    margin-bottom: 30px;
}

button {

    background: #f5b400;

    border: none;

    padding: 15px 35px;

    font-size: 18px;

    cursor: pointer;

    border-radius: 5px;
}

button:hover {

    background: #d99f00;
}


/* PRODUCTS */

.products-section {

    padding: 70px 8%;

    text-align: center;
}

.products-section h2 {

    font-size: 38px;

    margin-bottom: 10px;
}

.subtitle {

    color: #777;

    margin-bottom: 40px;
}

.product-container {

    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(250px, 1fr));

    gap: 30px;
}

.product-card {

    background: white;

    border-radius: 10px;

    overflow: hidden;

    box-shadow:
        0 5px 20px rgba(0,0,0,0.12);

    transition: 0.3s;
}

.product-card:hover {

    transform: translateY(-8px);
}

.product-card img {

    width: 100%;

    height: 320px;

    object-fit: cover;
}

.product-info {

    padding: 20px;
}

.product-info h3 {

    margin-bottom: 10px;
}

.category {

    color: #777;

    margin-bottom: 10px;
}

.price {

    font-size: 22px;

    font-weight: bold;

    color: #111;
}


/* ABOUT */

.about {

    background: white;

    padding: 70px 10%;

    text-align: center;
}

.about h2 {

    font-size: 35px;

    margin-bottom: 20px;
}

.about p {

    max-width: 700px;

    margin: auto;

    line-height: 1.8;
}


/* CONTACT */

.contact {

    padding: 70px 10%;

    text-align: center;
}

.contact h2 {

    margin-bottom: 20px;
}


/* FOOTER */

footer {

    background: #111;

    color: white;

    text-align: center;

    padding: 25px;
}


/* MOBILE */

@media (max-width: 768px) {

    header {

        flex-direction: column;

        gap: 15px;
    }

    nav a {

        margin: 8px;
    }

    .hero-content h1 {

        font-size: 35px;
    }

}
